*, ::after, ::before {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

@font-face {
    font-family: AvenirLTStd-Book;
    src: url(Avenir_Book.ttf);
    font-weight: 300;
}

@font-face {
    font-family: AvenirLTStd-Medium;
    src: url(Avenir_Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: AvenirLT-Black;
    src: url(Avenir_Blk.ttf);
    font-weight: 700;
}

.entypo {
	font-family: entypo;
	font-size: 1.4em;
	font-style: normal;
}

.entypo-social {
	font-family: entypo-social;
	font-size: 3em;
	font-style: normal;
}

.nav {
	background-color: rgba(255, 255, 255, .0);
	height: 70px;
	width: 100%;
	position: fixed;
}

.logo {
text-align: center;
display: inline-block;
width: 100px;
float: left;
padding-left: 174px;
padding-top: 20px;
}

/*Start Social Area*/

.social {
width: 100%;
text-align: right;
margin-top: 10px;
padding-right: 0px;
display: block;
}

.fb {
width: 130px;
padding-top: 0;
}

.twitter-share-button {
padding-top: 5px;
margin-right: 5px;
}
/*End Social Area*/

.hero {
	background: #FFFFFF url('../images/home-seniors.png') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: top left;
	background-size: cover;
	overflow-x: hidden;
}

/* Mobile */
.container {
	margin: 0 auto;
	max-width: 100%;
	height: 600px;
	padding-top: 5em;
	position: relative;
}

.intro {
	display: inline-block;
	float: left;
  width: 98%;
	margin-top: 1em;
}

.container h1 {
	font-size: 1.8em; /* 48 / 16 */
	line-height: 1.3em; /* 48 / 48 */
	font-weight: 200;
  color: #1C4B9E;
  margin: 0 auto;
  padding-left: .8em;

}

.container h2 {
	color: #FFFFFF;
	font-size: 1.8em; /* 24 / 16 */
	font-weight: 400;
	line-height: 1.4em; /* 24 / 24 */
  margin: 0 auto;
  padding-left: .8em;
}

.container h4 {
	color: #DBDBDF;
    font-size: .9em; /* 24 / 16 */
    font-weight: 500;
    line-height: 1.4em; /* 24 / 24 */
    margin-bottom: .3em; /* 24 / 24 */
    margin-top: 3em;
    padding-left: 30px;
}

/*Begin Mailchimp Signup Form*/

#mc_embed_signup {
	border: none;
  padding-top: 20px;
  padding-left: 0;
}

/*Do not remove the .clear class. This keeps it inline*/
.mc-field-group {
	display: inline-block;
}

#mce-EMAIL {
	font-family: 'Avenir';
	font-size: .9em;
	font-weight: 500;
	letter-spacing: .03em;
	color: #a8a8a8;
	background-color: #fff;
	padding: .7em 2em .7em 1.5em;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	display: inline-block;
	margin-left: 1.5em;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 0 0 20px transparent;
  transition: all 0.5s ease;
}

#mce-EMAIL:focus {
  box-shadow: 0 0 0 2px #1C4B9E;
  outline: none;
  transition: all 0.5s ease;
}

/*Do not remove the .clear class. This keeps it inline*/
.clear {
	display: inline-block;
}

.button {
	border: none;
	font-family: 'Avenir';
	font-size: .9em;
	font-weight: 700;
	letter-spacing: .03em;
	color: #fff;
	background-color: #1C4B9E;
	padding: .7em 3em;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	display: inline-block;
	margin-left: 1.5em;
}

::-webkit-input-placeholder { /* WebKit browsers */
	   color:    #64BF58;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    #64BF58;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    #64BF58;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	   color:   #64BF58;
	}

.button:hover {
	background-color: #5FC078;
}

/*End Mailchimp Signup Form CSS*/

#footer a {
	color: #BEC3CC;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: .7px;
  padding-right: 5px;
  padding-left: 5px;
	text-decoration: none;
}

#footer a:hover {
	color: #1C4B9E;
	text-decoration: none;
  transition: ease-in-out;
}


#footer p {
	font-size: 12px;
	text-align: center;
	color: #BEC3CC;
	padding-top: 8px;
	line-height: 1.8em;
	font-weight: 500;
	margin-bottom: 0;
}

#footer ul {
  text-align: center;
}

#footer li {
  text-align: center;
  padding-right: .2em;
  display: inline;
}

/* Media Queries */
/* Tablet */
@media (min-width: 641px) {

.nav {
	background-color: rgba(255, 255, 255, .0);
  height: 70px;
  width: 100%;
  position: fixed;
}

.logo {
  text-align: center;
  display: inline-block;
  width: 100px;
  float: left;
  padding-left: 10px;
  padding-top: 16px;
}

.intro {
	width: 80%;
	display: inline-block;
	float: left;
	margin-top: 10em;
}

.container {
	margin: 0 auto;
	width: 960px;
	max-width: 100%;
	height: 420px;
	padding-top: 5em;
	position: relative;
}

.container h1 {
	font-size: 2em; /* 48 / 16 */
	line-height: 1.3em; /* 48 / 48 */
	font-weight: 200;
  color: #1C4B9E;
  margin: 0;
  padding-left: 2em;
}

.container h2 {
	color: #FFFFFF;
	font-size: 2em; /* 24 / 16 */
	line-height: 1.3em; /* 24 / 24 */
  font-weight: 400;
  margin: 0;
  padding-left: 2.01em;
}

.container h4 {
	color: #DBDBDF;
    font-size: .9em; /* 24 / 16 */
    font-weight: 500;
    line-height: 1.4em; /* 24 / 24 */
    margin-bottom: .6em; /* 24 / 24 */
    margin-top: 3em;
}

/*Begin Mailchimp Signup Form*/

#mc_embed_signup {
	border: none;
  padding-top: 10px;
  padding-left: 2em;
}

/*Do not remove the .clear class. This keeps it inline*/
.mc-field-group {
	display: inline-block;
}

#mce-EMAIL {
	font-family: 'Avenir';
	font-size: .9em;
	font-weight: 500;
	letter-spacing: .03em;
	color: #a8a8a8;
	background-color: #fff;
	padding: .7em 7em .7em 1.5em;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	display: inline-block;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 0 0 20px transparent;
  transition: all 0.5s ease;
}

#mce-EMAIL:focus {
  box-shadow: 0 0 0 2px #1C4B9E;
  outline: none;
  transition: all 0.5s ease;
}

/*Do not remove the .clear class. This keeps it inline*/
.clear {
	display: inline-block;
}

.button {
	border: none;
	font-family: 'Avenir';
	font-size: .9em;
	font-weight: 700;
	letter-spacing: .03em;
  text-align: center;
	color: #fff;
	background-color: #1C4B9E;
	padding: .7em 3em;
  width: auto;
  margin-left: 0;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	display: inline-block;
}

::-webkit-input-placeholder { /* WebKit browsers */
	   color:    #64BF58;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    #64BF58;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    #64BF58;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	   color:   #64BF58;
	}

.button:hover {
	background-color: #5FC078;
}

/*End Mailchimp Signup Form CSS*/

#footer a {
	color: #BEC3CC;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: .7px;
  padding-right: 5px;
  padding-left: 5px;
	text-decoration: none;
}

#footer a:hover {
	color: #1C4B9E;
	text-decoration: none;
}


#footer p {
	font-size: 11px;
	text-align: center;
	color: #BEC3CC;
	padding-top: 12px;
	line-height: 1.8em;
	font-weight: 500;
	margin-bottom: 0;
}

#footer li {
  text-align: center;
  display: inline;
}

/* Desktop */
@media (min-width: 769px) {

.logo {
  padding-left: 170px;
  padding-top: 18px;
}

.intro {
	width: 90%;
	display: inline-block;
	float: left;
	margin-top: 13.5em;
  padding-left: 3em;
}

.twitter-share-button {
margin-right: 14px;
}

.container {
	margin: 0 auto;
	width: 960px;
	max-width: 100%;
	height: 624px;
	padding-top: 5em;
	position: relative;
}

.container h1 {
  color: #1C4B9E;
	font-size: 2.6em; /* 48 / 16 */
	line-height: 1.4em; /* 48 / 48 */
	margin: 0 auto;
	margin-top: .8em;
	font-weight: 300;
	padding-right: 1em;
  padding-left: 1px;
}

.container h2 {
	color: #FFFFFF;
	font-size: 2.6em; /* 24 / 16 */
	font-weight: 300;
  line-height: 1.2em; /* 24 / 24 */
  margin: 0 auto;
  padding: 0 2em 0 1px;
}

.container h4 {
	color: #DBDBDF;
    font-size: .9em; /* 24 / 16 */
    font-weight: 500;
    line-height: 1.4em; /* 24 / 24 */
    margin: 0 auto;
    margin-bottom: 0;
    margin-top: 3em;
    padding-left: 4px;
}

/*Begin Mailchimp Signup Form*/

#mc_embed_signup {
	border: none;
  padding-top: 10px;
}

/*Do not remove the .clear class. This keeps it inline*/
.mc-field-group {
	display: inline-block;
}

#mce-EMAIL {
	font-family: 'Avenir';
	font-size: .9em;
	font-weight: 500;
	letter-spacing: .03em;
	color: #a8a8a8;
	background-color: #fff;
	padding: .7em 8em .7em 1.5em;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	display: inline-block;
	margin-left: 0;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 0 0 20px transparent;
  transition: all 0.5s ease;
}

#mce-EMAIL:focus {
  box-shadow: 0 0 0 2px #1C4B9E;
  outline: none;
  transition: all 0.5s ease;
}

/*Do not remove the .clear class. This keeps it inline*/
.clear {
	display: inline-block;
}

.button {
	border: none;
	font-family: 'Avenir';
	font-size: .9em;
	font-weight: 700;
	letter-spacing: .03em;
	color: #fff;
	background-color: #1C4B9E;
	padding: .7em 3em;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	display: inline-block;
	margin-left: .2em;
}

::-webkit-input-placeholder { /* WebKit browsers */
	   color:    #64BF58;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    #64BF58;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    #64BF58;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	   color:   #64BF58;
	}

.button:hover {
	background-color: #5FC078;
}

/*End Mailchimp Signup Form CSS*/

#footer a {
	color: #BEC3CC;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: .7px;
  padding-right: 5px;
  padding-left: 5px;
	text-decoration: none;
}

#footer a:hover {
	color: #1C4B9E;
	text-decoration: none;
}


#footer p {
	font-size: 11px;
	text-align: center;
	color: #BEC3CC;
	padding-top: 14px;
	line-height: 1.8em;
	font-weight: 500;
	margin-bottom: 0;
}

#footer li {
  text-align: center;
  display: inline;
}
