*, ::after, ::before {
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-moz-font-feature-settings: "liga" on;
}

img.logo {
padding-top: 2.5em;
}

.hero {
margin-top: 0;
background: #FCFCFC;
background-image: url("../images/hero-shapes.svg") !important;
background-repeat: no-repeat;
background-position: bottom center !important;
height: 580px;
}

.container {
margin: 0 auto;
max-width: 100%;
text-align: center;
}

.container h1 {
color: #4E4E4E;
font-family: AvenirLTStd-Heavy;
font-size: 2.1em;
line-height: 1.2em;
text-align: left;
margin-left: 1.5em;
margin-top: .8em;
}

.container h3 {
color: #707172;;
font-size: 1.2em; /* 24 / 16 */
line-height: 1.5em; /* 24 / 24 */
text-align: left;
padding-left: 2.6em;
padding-right: 1.8em;
opacity: .90;
}

.button {
border: none;
font-family: AvenirLT-Black;
font-size: .9em;
color: #FFF;
text-align: center;
text-decoration: none;
outline: none;
background-color: #3B64AB;
padding: 1em 2em 1em 2em;
border-radius: 100px;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
display: inline-block;
margin-top: 18px;
width: 52%;
}

.button:hover {
background-color: #5FC078;
text-decoration: none;
}

.footer {
width: 100%;
text-align: center;
background-color: #F9FBFF;
padding: 10px 0 1em 0;
position: absolute;
bottom: 0px;
}

.footer a {
color: #4E4E4E;
font-family: AvenirLT-Black;
font-size: 10px;
letter-spacing: .7px;
text-decoration: none;
}

.footer a:hover {
color: #1C4B9E;
text-decoration: none;
}


.footer p {
font-size: 11px;
text-align: center;
color: #707172;
padding-top: 14px;
line-height: 1.8em;
margin-bottom: 0;
}

.footer ul {
margin: 0;
}

.footer li {
text-align: center;
display: inline;
padding: 0;
margin-left: 2em;
}

/* Media Queries */


/* Tablet 10.5 */

@media (min-width: 767px) {

.hero {
height: 990px;
}

img.logo {
padding-top: 9em;
}

.container {
width: 960px;
max-width: 100%;
margin-bottom: 1em;
}

.container h1 {
font-size: 2.2em;
line-height: 1.2em;
text-align: center;
margin-top: 1.5em;
margin-left: 0;
}

.container h3 {
font-size: 1.2em; /* 24 / 16 */
line-height: 1.6em; /* 24 / 24 */
text-align: left;
padding-left: 8em;
padding-right: 8em;
opacity: .90;
padding-top: 0.1em;
}

.button {
padding: 1em 8em 1em 8em;
border-radius: 100px;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
margin-top: 28px;

margin-bottom: 22em;
display: inline-block;
width: 20%;
}

.footer {
width: 100%;
padding: 1em 0 1em 0;
position: absolute;
bottom: 0px;
}

.footer p {
font-size: 11px;
text-align: center;
padding-top: 14px;
line-height: 1.8em;
margin-bottom: 0;
}

.footer ul {
margin: 0;
}

.footer li {
text-align: center;
display: inline;
padding: 0;
margin-left: 2em;
}

/* Tablet Pro 12.5 */

@media (min-width: 1023px) {
.hero {
height: 1290px;
}	

img.logo {
padding-top: 12em;
}

.container h3 {
font-size: 1.4em; /* 24 / 16 */
line-height: 1.4em; /* 24 / 24 */
text-align: left;
padding-left: 9.8em;
}

}

/* Desktop */
@media (min-width: 1280px) {

.hero {
height: 710px;
}

img.logo {
padding-top: 4em;
}

.container {
margin: 0 auto;
width: 960px;
max-width: 100%;
text-align: center;
padding-top: 2em;
}

.container h1 {
font-size: 2.2em;
line-height: 1.2em;
margin-top: 1.5em;
margin-bottom: 0;
padding-bottom: 0;
}

.container h3 {
font-size: 1.3em; /* 24 / 16 */
line-height: 1.4em; /* 24 / 24 */
text-align: left;
padding-left: 9em;
padding-right: 8em;
padding-top: .1em;
opacity: .90;
}

.button {
padding: 1em 8em 1em 8em;
border-radius: 100px;
margin-top: 28px;
margin-bottom: 4em;
width: 16%;
}

.button:hover {
background-color: #3B64AB;
opacity: .95;
text-decoration: none;
}

.footer {
width: 100%;
padding: 1em 0 1em 0;
position: absolute;
bottom: 0px;
}

.footer a {
font-size: 10px;
letter-spacing: .7px;
text-decoration: none;
}


.footer p {
font-size: 11px;
padding-top: 14px;
line-height: 1.8em;
margin-bottom: 0;
}

.footer ul {
margin: 0;
}

.footer li {
display: inline;
padding: 0;
margin-left: 2em;
}
